<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Progate</title>
    <link rel="style" href="../css/style.css">
  </head>
  <body>
    <h1 class="title">HTML & CSS の開発環境を用意しよう！</h1>
  </body>
</html>